OIDC_CLIENT_ID="get from keycloak"
OIDC_CLIENT_SECRET="also get from keycloak"
OIDC_DISPLAY_NAME="My SSO"
OIDC_METADATA_URL="https://auth.example.org/auth/realms/my-realm/.well-known/openid-configuration"
SECRET_KEY="generate in some reasonable way, maybe with uuid.uuid4()"
SQL_ALCHEMY_DATABASE_URL="sqlite:///./budgery.db"
