KEYCLOAK_CLIENT_ID="get from keycloak"
KEYCLOAK_CLIENT_SECRET="also get from keycloak"
KEYCLOAK_DISPLAY_NAME="My SSO"
KEYCLOAK_METADATA_URL="https://auth.example.org/auth/realms/my-realm/.well-known/openid-configuration"
SECRET_KEY="generate in some reasonable way, maybe with uuid.uuid4()"
