header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

.logo-container {
	text-align:center;
}
.logo-container h1 {
	font-size: 3.0rem;
	margin: 1rem;
	margin-block-start: 0;
}
