{% macro table_transactions(transactions) -%}
<div class="row">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Amount</th>
				<th>Category</th>
				<th>Description</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			{% for txn in transactions %}
				<tr>
					<td><a href="/transaction/{{ txn.id }}">{{ txn.id }}</a></td>
					<td>{{ txn.amount|currency }}</td>
					<td>{{ txn.category }}</td>
					<td>{{ txn.description }}</td>
					<td>{{ txn.at.date() }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{%- endmacro %}
