{% extends "base.html.jinja" %}
{% set breadcrumbs = [
	("/account", "Accounts"),
] %}
{% block header %}
{% include "fragments/breadcrumb.html.jinja" %}
{% endblock %}

{% block content %}
<p>Accounts are the real-world accounts held with different companies that contain your assets and liabilities</p>
{% if accounts %}
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			{% for account in accounts %}
				<tr>
					<td>{{ account.id }}</td>
					<td><a href="/account/{{ account.id }}">{{ account.name }}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class="btn-small waves-effect waves-light" href="/account/create"><i class="material-icons left">add</i>Create</a>
{% else %}
	<p>No accounts yet, please <a href="/account/create">create one</a></p>
{% endif %}
{% endblock %}
