{% extends "base.html.jinja" %}
{% block onready %}
var element = document.getElementById("institution");
M.Autocomplete.init(element, {
	data: {
		"Apple": null,
		"Microsoft": null,
	}
});
{% endblock %}
{% block content %}
<div class="row">
	<form class="col s12" action="/accounts/create" method="POST">
		<div class="row">
			<div class="input-field col s6">
				<i class="material-icons prefix">assignment</i>
				<input placeholder="Savings" id="name" type="text" class="validate">
				<label for="name">Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<i class="material-icons prefix">account_balance</i>
				<input placeholder="Bank of the Internet" id="institution" type="text" class="autocomplete">
				<a class="btn-floating disabled"><i class="material-icons">add</i></a>
				<label for="name">Institution</label>
			</div>
		</div>
		<button class="btn waves-effect waves-light" type="submit" name="action">Submit
			<i class="material-icons right">send</i>
		</button>
	</form>
</div>

{% endblock %}
