{% extends "base.html.jinja" %}
{% block content %}
{% if accounts %}
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			{% for txn in transactions %}
				<tr><td>{{ txn.id }}</td><td>{{ txn.amount }}</td></tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No accounts yet, please <a href="/account/create">create one</a></p>
{% endif %}
{% endblock %}
