{% extends "base.html.jinja" %}
{% set breadcrumbs = [
	("/account", "Accounts"),
	("/account/create", "Create"),
] %}
{% block header %}
{% include "fragments/breadcrumb.html.jinja" %}
{% endblock %}

{% block content %}
{% if not institutions %}
	<p>This system does not have any institutions yet. You can't create an account without one. Please create one <a href="/institution/create">here</a></p>.
{% else %}
<div class="row">
	<form class="col s12" action="/account/create" method="POST">
		<div class="row">
			<div class="input-field col s6">
				<i class="material-icons prefix">assignment</i>
				<input placeholder="Savings" name="name" type="text" class="validate">
				<label for="name">Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<i class="material-icons prefix">account_balance</i>
				<input placeholder="Bank of the Internet" id="institution" name="institution_name" type="text" list="institution-list">
				<a class="btn-floating disabled"><i class="material-icons">add</i></a>
				<label for="name">Institution</label>
			</div>
			<datalist id="institution-list">
				{% for institution in institutions %}
					<option>{{ institution.name }}</option>
				{% endfor %}
			</datalist>
		</div>
		<button class="btn waves-effect waves-light" type="submit">Submit
			<i class="material-icons right">send</i>
		</button>
	</form>
</div>
{% endif %}
{% endblock %}
