{% extends "base.html.jinja" %}
{% block content %}
<p>Allocations are like sub-accounts where you can label money that is awaiting a
particular purpose. Think "this money is for our down payment" or "savings for my
annual car insurance payment".
</p>
{% if allocations %}
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			{% for txn in transactions %}
				<tr><td>{{ txn.id }}</td><td>{{ txn.amount }}</td></tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No allocations yet, please <a href="/allocation/create">create one</a></p>
{% endif %}
{% endblock %}
