{% extends "base.html.jinja" %}
{% set breadcrumbs = [
	("/budget", "Budgets"),
	("/budget/{}".format(budget.id), budget.start_date.isoformat() + " - " + budget.end_date.isoformat()),
	("/budget/{}/entry/{}".format(budget.id, entry.id), "Entry"),
] %}

{% block header %}
{% include "fragments/breadcrumb.html.jinja" %}
{% endblock %}

{% block content %}
{% if not entry %}
	<p>Sorry, a budget entry with that ID does not exist or you don't have access to it.</p>
{% else %}
<table>
	<thead>
		<tr>
			<th>Version</th>
			<th>When</th>
			<th>Name</th>
			<th>Institution</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>0</td>
			<td>{{ entry.created }}</td>
			<td></td>
			<td></td>
		</tr>
		{% for h in history %}
		<tr>
			<td>{{ h.version }}</td>
			<td>{{ h.changed }}</td>
			<td>{{ h.name }}</td>
			<td>{{ h.category }}</td>
			<td>{{ h.amount }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
