{% extends "base.html.jinja" %}
{% from "macros/net.html.jinja" import color_net_amount %}
{% set breadcrumbs = [
	("/budget", "Budgets"),
	("/budget/{}".format(budget.id), budget.start_date.isoformat() + " - " + budget.end_date.isoformat()),
] %}
{% block header %}
{% include "fragments/breadcrumb.html.jinja" %}
{% endblock %}

{% block onready %}
var elems = document.querySelectorAll('.fixed-action-btn');
var instances = M.FloatingActionButton.init(elems, {});
{% endblock %}

{% block content %}
{% if not budget %}
	<p>Sorry, an budget with that ID does not exist or you don't have access to it.</p>
{% else %}
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" href="/budget/{{budget.id}}/entry/create">
    <i class="large material-icons">add</i>
  </a>
</div>

<table>
	<tbody>
		<tr><td>Net</td><td>{{ color_net_amount(report.net) }}</td></tr>
	</tbody>
</table>
{% for category in categories %}
<ul class="collection with-header">
	<li class="collection-header">
		<h4>{{ category }} {{ amount_by_category[category]|currency }}</h4>
	</li>
	{% for entry in entries_by_category[category] %}
		<a href="/budget/{{ budget.id }}/entry/{{ entry.id }}">
			<li class="collection-item">{{ entry.name }}
				<span class="secondary-content">{{ entry.amount|currency }}</span>
			</li>
		</a>
	{% endfor %}
{% endfor %}
<ul>
{% for category_report in report.entries_by_category %}
	<li>{{ category_report.category }}: {{ category_report.net }}</li>
{% endfor %}
</ul>
{% endif %}
{% if report.unbudgeted_transactions %}
	<h2>Unbudgeted Transactions</h2>
	{% for unbudgeted_report in report.unbudgeted_transactions %}
		<h3>{{ unbudgeted_report.category }}</h3>
		<table>
				{% for transaction in unbudgeted_report.transactions %}
						<tr>
								<td>{{transaction.description}}</td>
						</tr>
				{% endfor %}
		</table>
	{% endfor %}
{% endif %}
{% endblock %}
