{% extends "base.html.jinja" %}
{% set breadcrumbs = [
	("/budget", "Budgets"),
	("/budget/{}".format(budget.id), budget.start_date.isoformat() + " - " + budget.end_date.isoformat()),
	("/budget/{}/entry/{}".format(budget.id, entry.id), "Entry"),
] %}

{% block header %}
{% include "fragments/breadcrumb.html.jinja" %}
{% endblock %}

{% block content %}
{% if not entry %}
	<p>Sorry, a budget entry with that ID does not exist or you don't have access to it.</p>
{% else %}
<table>
	<thead>
		<tr>
			<th>Property</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<tr><td>ID</td><td>{{ entry.id }}</td></tr>
		<tr><td>Name</td><td>{{ entry.name }}</td></tr>
		<tr><td>Category</td><td>{{ entry.category }}</td></tr>
		<tr><td>Amount</td><td>{{ entry.amount }}</td></tr>
	</tbody>
</table>
{% endif %}
{% endblock %}
