{% extends "base.html.jinja" %}
{% set breadcrumbs = [
	("/budget", "Budget"),
	("/budget/create", "Create"),
] %}
{% block header %}
{% include "fragments/breadcrumb.html.jinja" %}
{% endblock %}

{% block content %}
<div class="row">
	<form class="col s12" action="/budget/create" method="POST">
		<div class="row">
			<div class="input-field col s6">
				<i class="material-icons prefix">date_range</i>
				<input name="start_date_str" type="text" value="{{ default_start_date.isoformat() }}" class="datepicker">
				<label for="start_date">Start Date</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<i class="material-icons prefix">date_range</i>
				<input name="end_date_str" type="text" value="{{ default_end_date.isoformat() }}" class="datepicker">
				<label for="end_date">End Date</label>
			</div>
		</div>
		<button class="btn waves-effect waves-light" type="submit">Create
			<i class="material-icons right">send</i>
		</button>
	</form>
</div>
{% endblock %}
