{% extends "base.html.jinja" %}
{% set breadcrumbs = [
	("/budget", "Budgets"),
	("/budget/{}".format(budget.id), budget.start_date.isoformat() + " - " + budget.end_date.isoformat()),
	("/budget/{}/entry/{}".format(budget.id, entry.id), "Entry"),
] %}

{% block header %}
{% include "fragments/breadcrumb.html.jinja" %}
{% endblock %}

{% block onready %}
var elems = document.querySelectorAll("select");
var instances = M.FormSelect.init(elems, {});
{% endblock %}

{% block content %}
{% if not entry %}
	<p>Sorry, a budget entry with that ID does not exist or you don't have access to it.</p>
{% else %}

<div class="row">
<form class="col s12" action="/budget/{{budget.id}}/entry/{{entry.id}}" method="POST"/>
	<input type="hidden" name="budget" value="{{budget.id}}"/>
	<input type="hidden" name="id" value="{{entry.id}}"/>
	<div class="row">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">call_made</i>
				<input name="name" type="text" value="{{entry.name}}">
				<label for="name">Name</label>
			</div>
		</div>
		<div class="input-field col s12">
			<i class="material-icons prefix">tag</i>
			<input id="category" name="category" type="text" value="{{entry.category}}">
			<label for="category">Category</label>
		</div>
		<div class="input-field col s6">
			<i class="material-icons prefix">attach_money</i>
			{% if entry.amount >= 0 %}
				<input id="amount" name="amount" type="text" value="{{entry.amount}}"/>
			{% else %}
				<input id="amount" name="amount" type="text" value="{{(-1.0) * entry.amount}}"/>
			{% endif %}
			<label for="amount">Amount</label>
		</div>
		<div class="input-field col s6">
			<i class="material-icons prefix">exposure</i>
			<select name="entry_type">
				{% if entry.amount >= 0 %}
					<option value="expense">Expense</option>
					<option value="income" selected>Income</option>
				{% else %}
					<option value="expense" selected>Expense</option>
					<option value="income">Income</option>
				{% endif %}
			</select>
		</div>
		<button class="btn waves-effect waves-light" type="submit">Edit
			<i class="material-icons right">send</i>
		</button>
	</div>
</form>
{% endif %}
<table>
	<thead>
		<tr>
			<th>Version</th>
			<th>When</th>
			<th>Name</th>
			<th>Category</th>
			<th>Amount</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>0</td>
			<td>{{ entry.created }}</td>
			<td></td>
			<td></td>
		</tr>
		{% for h in history %}
		<tr>
			<td>{{ h.version }}</td>
			<td>{{ h.changed }}</td>
			<td>{{ h.name }}</td>
			<td>{{ h.category }}</td>
			<td>{{ h.amount }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
