{% extends "base.html.jinja" %}
{% block content %}
{% if not categories %}
	<p>No categories yet, you'll see entries here when you creat <a href="/transactions">transactions</a></p>
{% else %}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Transactions</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr><td>{{ category.name }}</td><td>{{ category.transaction_count }}</td></tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endblock %}
