{% extends "base.html.jinja" %}
{% set breadcrumbs = [
	("/import", "Import Transactions"),
] %}
{% block header %}
{% include "fragments/breadcrumb.html.jinja" %}
{% endblock %}

{% block onready %}
var element = document.getElementById("account_id");
M.FormSelect.init(element, {});
{% endblock %}
{% block content %}
<div class="row">
	<form class="col s12" action="/import-job/create" method="POST" enctype="multipart/form-data">
		<div class="row">
			<div class="input-field col s6">
				<select id="account_id" name="account_id">
					{% for account in accounts %}
						<option value="{{account.id}}">{{ institutions_by_id[account.institution_id].name }} - {{ account.name }}</option>
					{% endfor %}
				</select>
				<label>Account</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input id="import_file" name="import_file" type="file">
			</div>
		</div>
		<div class="row">
			<input type="submit">
		</div>
	</form>
</div>
{% endblock %}
