{% extends "base.html.jinja" %}
{% set breadcrumbs = [
	("/institution", "Institutions"),
] %}
{% block header %}
{% include "fragments/breadcrumb.html.jinja" %}
{% endblock %}

{% block content %}
<p>Institutions are the various companies or organizations that hold your assets and liabilities on your behalf</p>
{% if institutions %}
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>ABA Routing Number</th>
			</tr>
		</thead>
		<tbody>
			{% for institution in institutions %}
				<tr>
					<td>{{ institution.id }}</td>
					<td>{{ institution.name }}</td>
					<td>{{ institution.aba_routing_number }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No institutions yet, please <a href="/institution/create">create one</a></p>
{% endif %}
	<a class="btn-small waves-effect waves-light" href="/institution/create"><i class="material-icons left">add</i>Create</a>
{% endblock %}
