{% extends "base.html.jinja" %}
{% block header %}
<nav class="top-nav blue">
	<div class="container">
		<div class="nav-wrapper">
			<div class="col s12">
				<a href="/institution" class="breadcrumb">Institution</a>
				<a href="/institution/create" class="breadcrumb">Create</a>
			</div>
		</div>
	</div>
</nav>
{% endblock %}

{% block content %}
<p>Institutions are the various companies or organizations that hold your assets and liabilities on your behalf</p>
{% if institutions %}
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			{% for txn in transactions %}
				<tr><td>{{ txn.id }}</td><td>{{ txn.amount }}</td></tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No institutions yet, please <a href="/institution/create">create one</a></p>
{% endif %}
{% endblock %}
