{% macro navelement(name, target, icon, label) -%}
	<li {% if current_page == name %}class="active"{% endif %}>
		<a href="{{target}}">
		<i class="material-icons">{{icon}}</i>{{label}}</a>
	</li>
{%- endmacro %}

<ul class="sidenav sidenav-fixed">
	<div class="logo-container">
		<li class="logo"><img src="/static/img/budgery-logo.png"></img></li>
		<h1>Budgery</h1>
	</div>
	{{ navelement("account", "/account", "account_balance_wallet", "Accounts") }}
	{{ navelement("allocation", "/allocation", "donut_small", "Allocations") }}
	{{ navelement("category", "/category", "category", "Categories") }}
	{{ navelement("institution", "/institution", "account_balance", "Institutions") }}
	{{ navelement("report", "/report", "assessment", "Reports") }}
	{{ navelement("tag", "/tag", "tag", "Tags") }}
	{{ navelement("transaction", "/transaction", "iso", "Transactions") }}
	{% if user %}
		{{ navelement("user", "/user", "account_box", user.name) }}
	{% else %}
		{{ navelement("login", "/login", "lock", Login) }}
	{% endif %}
</ul>

