{% extends "base.html.jinja" %}
{% set breadcrumbs = [
	("/process", "Process"),
] %}
{% block header %}
{% include "fragments/breadcrumb.html.jinja" %}
{% endblock %}

{% block content %}
<p>This is where we can quickly process through transactions we've imported and get them added to a budget.</p>
<p>Transactions with no matching budget: {{ transaction_count_by_budget_id[None] }}</p>
<table>
	<thead>
		<tr>
			<th>Budget</th>
			<th>Start</th>
			<th>End</th>
			<th>Transactions</th>
		</tr>
	</thead>
	<tbody>
		{% for budget in budgets %}
			<tr>
				<td><a href="/process/{{ budget.id }}">{{ budget.id }}</a></td>
				<td>{{ budget.start_date.isoformat() }}</td>
				<td>{{ budget.end_date.isoformat() }}</td>
				<td>
					<a href="/process/{{ budget.id }}">
						{{ transaction_count_by_budget_id[budget.id] }}
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
