{% extends "base.html.jinja" %}
{% set breadcrumbs = [
	("/transaction", "Transactions"),
] %}
{% block header %}
{% include "fragments/breadcrumb.html.jinja" %}
{% endblock %}
{% block content %}
{% if transactions %}
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Amount</th>
			<th>Category</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		{% for txn in transactions %}
			<tr>
				<td><a href="/transaction/{{ txn.id }}">{{ txn.id }}</a></td>
				<td>{{ txn.amount }}</td>
				<td>{{ txn.category }}</td>
				<td>{{ txn.at }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
	<a class="btn-small waves-effect waves-light" href="/transaction/create"><i class="material-icons left">add</i>Create</a>
{% else %}
	<p>No transactions yet, please <a href="/transaction/create">create one</a></p>
{% endif %}
{% endblock %}
