{% extends "base.html.jinja" %}
{% set breadcrumbs = [
	("/transaction", "Transactions"),
] %}
{% block header %}
{% include "fragments/breadcrumb.html.jinja" %}
{% endblock %}
{% block content %}
<div class="row">
	<div class="col s6">
		<a class="btn-small waves-effect waves-light" href="/transaction/create"><i class="material-icons left">add</i>Create</a>
	</div>
	<div class="col s6">
		<a class="btn-small waves-effect waves-light green" href="/import"><i class="material-icons left">import_export</i>Import</a>
	</div>
</div>
{% if transactions %}
<div class="row">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Amount</th>
				<th>Category</th>
				<th>Description</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			{% for txn in transactions %}
				<tr>
					<td><a href="/transaction/{{ txn.id }}">{{ txn.id }}</a></td>
					<td>{{ txn.amount|currency }}</td>
					<td>{{ txn.category }}</td>
					<td>{{ txn.description }}</td>
					<td>{{ txn.at.date() }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
	<p>No transactions yet, please <a href="/transaction/create">create one</a></p>
{% endif %}
{% endblock %}
